@model CyGateWMS.Models.Holiday

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_DashBoard_Layout.cshtml";
}

<div class="header">
    <hr />
    <ol class="breadcrumb">
        <li><a asp-controller="Holidays" asp-action="Index">Holidays</a></li>
        <li class="active">@Model.Description</li>
    </ol>

</div>

<div id="page-inner">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" asp-action="Edit" role="form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ID" />
                        <div class="form-group">
                            <label asp-for="Date" class="col-sm-2 control-label">Date</label>
                            <div class="col-sm-10">
                                <input asp-for="Date" type="date" class="form-control">
                            </div>
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <input asp-for="Description" type="text" class="form-control">
                            </div>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IsActive" class="col-sm-2 control-label">Status</label>
                            <div class="col-sm-1">
                                <input asp-for="IsActive" type="checkbox" class="form-control">
                            </div>
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

