
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterConfirmation</title>

</head>
<body>
    @{
        ViewData["Title"] = "Register Confirmation";
    }

    <h2>@ViewData["Title"].</h2>
    <p>
        Please check your email to activate your account. --><a class="btn btn-sm btn-white btn-block" asp-controller="Account" asp-action="Login">  go to Login</a>
    </p> 
</body>
</html>
