
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CyGateWMS.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Forgot Password";
}



<form role="form" style="width: 300px; height: 300px; margin: 0 auto" asp-controller="Account" asp-action="ForgotPassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input type="email" asp-for="Email" class="form-control" placeholder="Enter your email" required="">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
   
    <button type="submit" class="btn btn-primary block full-width m-b">Submit</button>
</form>

