@model CyGateWMS.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger">An error occurred while processing your request.</h2>
